<div class="mx-40" data-controller="staff">
  <%= form_with url: staff_index_path, method: :get, data: { staff_target: "form"} do |form| %>
    <%= form.range_field :max, in: 0..1000, data: { action: "input->staff#change" }, class: "w-full h-2 accent-slate-950 rounded-lg" %>
  <% end %>

  <div data-staff-target="list" class="flex justify-center w-full bg-red-500"></div>
</div>

