<div class="h-24 bg-red-600 font-bold text-white">hi there</div>
<div data-controller="staff">
  <%= form_with url: staff_index_path, method: :get, data: { staff_target: "form"} do |form| %>
    <%= form.range_field :max, in: 0..1000, value: @value, data: { action: "input->staff#change" } %>
  <% end %>

  <p>And here's the result:</p>
  <div data-staff-target= "list">
  </div>
</div>


