<div class=" " data-controller="staff">
  <%= form_with url: staff_index_path, method: :get, data: { staff_target: "form"} do |form| %>
    <%= form.range_field :max, in: 0..1000, data: { action: "input->staff#change" }, class: "w-full h-2 accent-slate-950 rounded-lg" %>
  <% end %>

  <div data-staff-target= "list">
  </div>
</div>

<%# w-full h-2 appearance-none bg-grey rounded-lg %>
<%# range pr-6 accent-red-500 %>
